version: "3.9"

services:
  backend:
    image: oven/bun:latest
    working_dir: /app
    command: ["bash", "-lc", "bun install && bun run dev"]
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app

  frontend:
    image: oven/bun:latest
    working_dir: /app
    command: ["bash", "-lc", "bun install && bun run dev -- --host"]
    volumes:
      - ./frontend:/app
    ports:
      - "5173:5173"